<section class="section">
  <div class="container">
    <h1 class="title">Crime topography</h1>
    <div class="statistics">
      <ul class="statistics__list list">
        <li class="statistics__item">
          <p class="statistics__number">0</p>
          <p class="statistics__text">Killed Militarists</p>
        </li>

        <li class="statistics__item">
          <p class="statistics__number">0</p>
          <p class="statistics__text">Killed doctors</p>
        </li>

        <li class="statistics__item">
          <p class="statistics__number">0</p>
          <p class="statistics__text">Killed doctors</p>
        </li>

        <li class="statistics__item">
          <p class="statistics__number">0</p>
          <p class="statistics__text">Killed Civilians</p>
        </li>
      </ul>
      <div class="map">
        <img src="./images/icons-map.svg" alt="" width="686" />

        <div class="label-thumb">
          <svg class="label" width="4" height="4">
            <use href="./images/icons.svg#icon-ellipse"></use>
          </svg>
        </div>
      </div>
      <div class="btn-thumb">
        <button class="btn-play js-btn-play">
          <svg class="btn-play__icon--play" width="24" height="24">
            <use href="./images/icons.svg#icon-play"></use>
          </svg>
        </button>
        <button class="btn-stop js-btn-stop">
          <svg class="btn-play__icon--stop" width="24" height="24">
            <use href="./images/icons.svg#icon-stop"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="reproduction">
      <div class="graph">
        <svg class="graph__icon" width="1034" height="60">
          <use href="./images/icons.svg#icon-graph"></use>
        </svg>
      </div>
      <div class="date-search">
        <button class="date-search__btn">
          <svg class="btn-date-search__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-three-line"></use>
          </svg>
        </button>

        <div class="data-card">
          <div class="data-card__thumb">
            <svg class="data-card__icon-vector" width="6" height="4">
              <use href="./images/icons.svg#icon-polygon"></use>
            </svg>
            <p class="js-data data">12 Feb, 2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
